certifi==2022.12.7
charset-normalizer==3.1.0
Crypto.Cipher==1
crypto==1.4.1
idna==3.4
Naked==0.1.32
numpy==1.24.3
packaging==23.1
pandas==2.0.1
patsy==0.5.3
pip==22.3.1
plotly==5.14.1
plotly-express==0.4.1
python-dateutil==2.8.2
pytz==2023.3
PyYAML==6.0
requests==2.29.0
scipy==1.10.1
setuptools==65.5.0
shellescape==3.8.1
six==1.16.0
statsmodels==0.13.5
tenacity==8.2.2
tzdata==2023.3
urllib3==1.26.15
